@page "/ComponentBased"

<BlazorIntro>
    <h3>Test Text</h3>
</BlazorIntro>

<MudButton OnClick="StartIntroJs">Start</MudButton>
<MudButton OnClick="StartIntroJsClass">Start By Class</MudButton>
<MudButton OnClick="AddHints">Show Hints</MudButton>