@page "/"
@inject Blazor.IntroJs.IntroJsInterop introJs
@implements IAsyncDisposable

<h1 data-intro="Hello World!" data-hint="Hint-Hint">Hello, world!</h1>

Welcome to your new app.

<MudButton OnClick="StartIntroJs">Start Intro Js</MudButton>
<MudButton OnClick="AddHints">Add Hints</MudButton>

<ParentWithIntro />

@code {
    private async Task StartIntroJs()
    {
        await introJs
            .SetOptions(options =>
            {
                options.NextLabel = "Changed now";
            })
            .SetOption(o => o.PrevLabel = "HAHA NO LABEL")
            .GoToStepNumber(3)
            .Start();
    }

    private async Task AddHints()
    {
        await introJs.AddHints();
    }

    public async ValueTask DisposeAsync()
    {
        await introJs.RemoveHints();
        introJs.Dispose();
    }
}