@page "/"
@inject Blazor.IntroJs.IntroJs introJs

<h1 data-intro="Hello World!" data-hint="Hint-Hint">Hello, world!</h1>

Welcome to your new app.

<MudButton OnClick="StartIntroJs">Start Intro Js</MudButton>
<MudButton OnClick="AddHints">Add Hints</MudButton>

@code {
    private async Task StartIntroJs()
    {
        await introJs.Start();
    }

    private async Task AddHints()
    {
        await introJs.AddHints();
    }
}